/config/environment.php
/app/*/config/environment.php
/tmp/twig/*
/tmp/log/*
/tmp/languages/*
/lib/external/packages/*
/lib/external/assets/*
/util/tmp/*
/tmp/*
/store/file/
/migration/data/
.ftpquota